.loginContainer {
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 8px 16px;
  font-weight: bold;
  border: 1px solid #d5dbdf;
  border-radius: 4px;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}
