.card {
  background: #1f1f1f;
  border-radius: 30px;
  padding: 16px;
  color: #f6fdfd;
  border: 1px solid #a2b6c3;
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.3); /* Adjusted glow effect */
}

.showBorder {
  border: 1px solid #626262;
}
